<div class="row product-details" *ngIf="productData">
  <div class="col-sm-6">
    <img class="product-img" [src]="productData.image" alt="" />
  </div>

  <div class="col-sm-6">
    <div class="details">
      <h1>{{ productData.name }}</h1>
      <h3>Price : {{ productData.price }}</h3>

      <div>Color:</div>
<div class="color-options">
  <span *ngFor="let color of productData?.colors"
        class="color-box"
        [style.backgroundColor]="color"
        (click)="selectColor(color)"
        [class.selected]="selectedColor === color">
  </span>
</div>

<p>Selected Color: {{ selectedColor || 'None' }}</p>

    </div>

    <h6>Category : {{ productData.category }}</h6>
    <h6>Description : {{ productData.description }}</h6>

    <button class="form-button" (click)="buyNow(productData)">
      Buy Now
    </button>

    <button
      *ngIf="removeCart"
      class="form-button"
      (click)="removeToCart(productData.id)"
    >
      Remove from Cart
    </button>
    <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">
      Add to Cart
    </button>

    <div class="quantity-group">
      <button (click)="handleQuantity('min')">-</button>
      <input type="text" [value]="productQuantity" readonly />
      <button (click)="handleQuantity('plus')">+</button>
    </div>
  </div>
</div>
